@import url(base.css);
/*f1*/
.f1{width:100%;height:40px;background:#333333;font-size:12px;line-height:40px;color:#424242;}
.f1box{width:1226px;height:40px;background:#333333;margin:0 auto;}
.f1box-left{width:511px;height:40px;background:#333333;float:left;}
.f1box-left a{color:#b0b0b0;}
.f1box-left a:hover{color:#fff}
.f1box-right{width:186px;height:40px;background:#333;float:right;}
.f1box-right span{color:#b0b0b0;}
.f1box-right a{color:#b0b0b0;}
.f1box-right img{vertical-align:middle;}
.f1box-right a:hover:{color:#FFF}
/*f2*/
.f2-inner{width:1226px;height:100px;background:#fff;margin:0 auto;}
.f2-inner a{display:block}
.f2-inner .f2xiaomi{margin:22px 0 22px;float:left;}
.f2-middle{width:799px;height:100px;background:#fff;margin-left:37px;float:left;line-height:100px;}
.f2-middle .f2-xiaomi{margin-left:160px;display:inline}
.f2-middle a{margin-left:36px;font-size:16px;color:#333;float:left}
.f2-middle a:hover{color:#FF6700}
.f2-right{width:335px;;height:100px;float:right;background:#fff;}
#f2-input{width:250px;height:50px;margin-top:25px;float:left}
.f2-sousuo{height:50px;width:50px;border:1px solid #e0e0e0;float:left;border-left:0;margin-top:25px;}
.f2-sousuo img{width:49px;height:49px;}
/*f3*/
.f3{width:1226px;height:460px;background:#fff;margin:0 auto;position:relative;}
.f3-img{opacity:0}
.f3-img img{display:block;font-size:0;position: absolute;top: 0;left:0;cursor: pointer;}
.f3-left{width:234px;height:460px;position:absolute;left:0px;bottom:0px; background: rgba(10,11,12,0.6)}
.f3-left2{width:234px;height:42px;position:relative;}
.f3-left2:hover{background:#ff6700;}
.f3-left3:hover{background:#ff6700;}
.f3-left3{width:234px;height:42px;position:relative;margin-top:20px;}
.f3-left2-zi{font-size:14px;color:#ffffff;line-height: 42px;margin-left:29px;}
.f3-left2-fu{color:rgba(255, 255, 255, 0.5);font-size:17px;position:absolute;top:12px;right:20px;line-height:16px;font-family: "simsun";}
.f3-btn1left{width:41px;height:69px;text-align:center;color:#C6D2D6;position:absolute;top:197px;left:234px;font-size:35px;line-height:60px;color:#e0e0e0;opacity:0.6;line-height: 69px;cursor: pointer;font-family: "simsun";}
.f3-btn1left:hover{background:rgba(0,0,0,0.6);}
.f3-btn1right{width:41px;height:69px;text-align:center;position:absolute;top:197px;right:0;font-size:35px;line-height:60px;color:#C6D2D6;opacity:0.6;line-height: 69px;cursor: pointer;font-family: "simsun";}
.f3-btn1right:hover{background:rgba(0,0,0,0.6);}
.f3-btn1left-fu{font-size:40px;color:#cecece}
.f3-left2-zi{margin-top:20px;}

.f3-btnbox{width:100px;height:10px;position:absolute;right:30px;bottom:20px;}
.f3-btn{width:6px;height:6px;border:2px solid rgba(0, 0, 0, 0.4);border-radius:50%;float:left;margin-right:10px;background: rgba(0, 0, 0, 0.4);} 	 	
.f3-btn:hover{background: rgba(255, 255, 255, 0.6);border-color: rgba(0, 0, 0, 0.4)}



/*f4*/
.f4{width:1226px;height:170px;margin:0 auto;margin-top:14px;}
.f4 img{display:inline}
.f4-left{width:234px;height:170px;background:#5f5750;float:left;text-align:center;font-size:12px;display:inline;overflow:hidden;}
.f4-left1{width:75px;height:72px;background:#5F5750;border-right:1px solid #665e57;line-height:72px;margin-left:2px;float:left;margin-top:8px;display:inline;}
.f4-left2{width:75px;height:72px;background:#5F5750;border-right:1px solid #665e57;line-height:72px;margin-left:2px;float:left;margin-top:8px;display:inline;}
.f4 a{color:#cfcdcb}
.f4 a:hover{color:#fff}
/*xiantiao*/
.f4-xiantiao{width:65px;height:1px;float:left;border-bottom:1px solid #665e57;margin-left:7px;display:inline;font-size:0;margin-top:2px;}
.f4-xiantiao1{width:65px;height:1px;float:left;border-bottom:1px solid #665e57;margin-left:12px;display:inline;font-size:0;margin-top:2px;}
.f4-xiantiao2{width:65px;height:1px;float:left;border-bottom:1px solid #665e57;margin-left:14px;display:inline;font-size:0;margin-top:2px;}
/*xiantiao end*/
.f4-right{width:992px;height:170px;background:#fff;float:left;}
.f4-tu1{margin-left:14px;float:left;display:inline;font-size:0}
/*f5*/
.bigbox{width:100%;height:auto;background:#f5f5f5;padding:30px 0 60px;}
/*f5left*/
.f5-top{width:1226px;height:58px;background:#fff;margin:0 auto;margin-top:32px;}
.f5-top span{font-size:22px;line-height:58px;float:left}
.f5-topa{float: right;width: 70px;height: 24px;margin-top: 17px}

.f5-topa a{font-size:22px;float:left;line-height:23px;width:33px;height:22px;border:1px solid #e0e0e0;float:left;text-align: center;color:#E0E0E1;font-family: "simsun";}
.f5-top1 .f5-top2{font-size:22px;line-height:23px;width:33px;height:22px;border:1px solid #e0e0e0;float:left;text-align: center;}
.f5-topa a:hover{color:#ff7500}
/*f5bottom*/
.w-f5-bottom{width:1226px;height: 340px;margin: 0 auto;overflow: hidden;}

.f5-bottom li{width:1226px;height: 340px;float:left;position: relative}
.f5-bottom{width:5000px;height:340px;background:#fff;}
.f5-top2 a:hover{color: #f60}
.f5-bottom a{display:block;font-size:14px;color:#333}
/*1小部分*/
.f5-bottom1{width:234px;height: 340px;background:#fafafa;float:left;text-align:center;border-top:1px solid #ffac13;float: left;}
.f5-bottom1 img{margin:25px 0 25px;width:160px;height:160px;}
.f5-1{font-size:12px;color:#b0b0b0;margin: 10px 0px 10px;} 
.f5-2{font-size:14px;color:#FF6700}
/*2小部分*/
.f5-bottom2{width:234px;background:#FAFAFA;height:340px;float:left;text-align:center;border-top:1px solid #83c44e;margin-left:14px;}
.f5-bottom2 img{margin:25px 0 25px;width:160px;height:160px;}
/*3小部分*/
.f5-bottom3{width:233px;background:#FAFAFA;height:340px;float:left;text-align:center;border-top:1px solid #2196f3;margin-left:14px;}
.f5-bottom3 img{margin:25px 0 25px;width:160px;height:160px;}
/*4小部分*/
.f5-bottom4{width:233px;background:#FAFAFA;height:340px;float:left;text-align:center;border-top:1px solid #e53935;margin-left:14px;}
.f5-bottom4 img{margin:25px 0 25px;width:160px;height:160px;}
/*5小部分*/
.f5-bottom5{width:233px;background:#FAFAFA;height:340px;float:left;text-align:center;border-top:1px solid #06eaea;margin-left:14px;}
.f5-bottom5 img{margin:20px 20px;width:160px;height:160px;}
/*F6top*/
.f6-top{width:1226px;height:58px;background:#f5f5f5;margin:0 auto;font-size:22px;line-height:61px;}
.f6-top span{float:left;line-height:58px;}
.f6-kuang{width:100px;height:58px;background:#f5f5f5;float:right;display:inline;position:relative;}
.quan{width:20px;height:20px;border-radius:50%;text-align:center;line-height:20px;background:#B0B0B0;float:right;display:inline;position:absolute;right:0px; bottom:18px;font-family:"simsun";}
.quan a{color:#fff;font-size:15px;}
.quan:hover{background:#ff6709}
.f6-chakan{font-size:16px;color:#424242;float:left;}

.f6-top a{display:block;font-family: "simsun";}
.f6-chakan:hover{color:#ff6700}

/*F6bottom*/
.f6bottom{width:1226px;height:628px;margin:0 auto;}
.f6bottom-left{width:234px;height:614px;float:left;}
.f6bottom-right{width:992px;height:614px;background:#F5F5F5;float:left;}
.f6bottom-right1{width:234px;height:300px;background:#fff;margin-left:14px;float:left;margin-bottom:14px;text-align:center;display:inline}
.f6bottom-right1 img{margin:20px 0 20px;width:160px;height:160px;}
.f6bottom-right1 a{display:block;font-size:14px;color:#333}
.f6-1{font-size:12px;color:#b0b0b0;margin: 10px 0px 10px;}
.f6-2{font-size:14px;color:#FF6700}
/*F7top*/
.f7-top{width:1226px;height:58px;background:#f5f5f5;margin:0 auto;font-size:22px;line-height:58px;}
.f7-top span{float:left}
.f7-remen{width:332px;height:58px;background:#f5f5f5;float:right;display: inline;}
.f7-remen a{margin-left:22px;font-size:16px;color:#000;display: inline;}
.f7-top a:hover{color:#ff6700;border-bottom: 2px solid #ff6700}
/*F7bottom*/
.f7-bottom{width:1226px;height:614px;margin:0 auto;}
/*F7bottom left*/
.f7bottom-left{width:234px;height:614px;float:left}
.f7bottom-left img{display:block;}
.f7-img{margin-top:14px;display:block}


.f7-bigbox{width:992px;height:614px;background:#f5f5f5;float:right;position: relative;overflow: hidden;}
.diyi{width:992px;height:614px;position: absolute;left: 0;top:0;}


/*F7bottom right1*/
.f7bottom-right1{width:234px;height:300px;background:#fff;margin-left:14px;margin-bottom:14px;text-align:center;float:left;display:inline}
.f7bottom-right1 img{margin:20px 0 20px;width:150px;height:150px;}
.f7bottom-right1 a{font-size:14px;color:#333;display:block}
.f7-1{font-size:12px;color:#b0b0b0;margin: 10px 0px 10px;}
.f7-2{font-size:14px;color:#FF6700;}
/*F7bottom right2*/
.f7bottom-right2{width:234px;height:300px;background:#fff;margin-left:14px;margin-bottom:14px;text-align:center;display:inline;float:left;}
.f7bottom-right2 img{margin:20px 0 20px;width:150px;height:150px;}
.f7bottom-right2 a{display:block;font-size:14px;color:#333}
.f7-1{font-size:12px;color:#FF6700;margin: 10px 0px 10px;}
.f7-2{font-size:14px;color:#b0b0b0}
/*F7bottom right3-8*/
.f7-yinxiangtop{width:234px;height:143px;background:#fff;float:left;margin-left:14px;margin-bottom:14px;}
.f7-a a{display:block;font-size:14px;color:#333;margin-top:50px;}
.f7-a{font-size:14px;color:#FF6700;margin-left:27px;float:left;display:inline}
.f7-b{font-size:14px;color:#b0b0b0}
.f7-yinxiangtop img{margin-top:35px;margin-left:20px;}
.f7-yinxiangtop1{width:234px;height:143px;background:#fff;float:left;margin-left:14px;margin-bottom:14px;}
.f7-b a{font-size:18px;color:#000;margin-left:30px;margin-top:50px;display:block;}
.f7-c a{font-size:12px;color:#757575;margin-left:30px;}
.f7-waikuang{float:left}
.f7-yinxiangtop img{width:80px;height:80px;}
.f7-yinxiangtop1 img{display:block;float:left;margin-top:40px;margin-left:35px;}
/*F8*/
.f8-top{width:1226px;height:58px;background:#f5f5f5;margin:0 auto;font-size:22px;line-height:58px;margin-top:16px;}
.f8-top span{float:left;}
.f8-remen{width:358px;height:58px;background:#f5f5f5;float:right;display:inline}
.f8-remen a{margin-left:20px;font-size:16px;color:#000;}
.f8-remen a:hover{color:#ff6700;border-bottom: 2px solid #ff6700}
/*F8 bottom*/
/*F9*/
/*F10*/
.f10-top{width:1226px;height:58px;background:#f5f5f5;margin:0 auto;font-size:22px;margin-top:16px;}
.f10-top span{float:left;line-height:58px;}
.f10-top2{width:40px;height:24px;border:1px solid #e0e0e0;float:right;margin-top:16px;}
.f10-top2 a{font-size:22px;float:left;line-height:23px;color:#e0e0e1;margin-left:10px;}
.f10-top1{width:35px;height:24px;border:1px solid #e0e0e0;float:right;margin-top:16px;border-left:0;font-size:0}
.f10-top1 a{font-size:22px;line-height:23px;color:#b1b1b0;margin-left:10px;}
.f10-top1 a:hover{color:#ff7500}

.f10-bottom{width:1226px;height:310px;background:#f5f5f5;margin:0 auto;overflow: hidden;}
.f10-ul{width:5000px;height:310px;background:#f5f5f5;}
.f10-ul li{width:1226px;height:310px;background:#f5f5f5;float: left;}

.f10-bottom img{margin:25px 42px;;width:140px;height:140px;}
.f10-bottom a{display:block;color:#333;font-size:14px;}
.f10-bottom1{width:234px;height:300px;background:#fff;float:left;text-align:center}
.f10-1{font-size:12px;color:#FF6700;margin: 10px 0px 10px;}
.f10-2{font-size:14px;color:#b0b0b0}
.f10-bottom2{width:234px;height:300px;background:yellow;float:left;margin-left:14px;}
/*F11*/
.f11-bottom{width:1226px;height:435px;background:#f5f5f5;margin:0 auto}
.f11-bottom1{width:296px;height:415px;background:#fff;float:left;display:inline}
.f11-bottom1 span{color:#E0E0E0;}
.f11-bottom3{font-size:14px;line-height: 24px;color:#333;display:block;width:240px;height:72px;margin:20px 28px 0px;}
.f11-bottom4{font-size:12px;color:#B0B0B0;margin:30px 28px 8px;}
.f11-bottom5{font-size: 14px;color:#333;margin:28px 0px 0px 28px;}
.f11-bottom1 .f11-bottom6{color:#FF6700;font-size:14px;}
.f11-bottom2{width:296px;height:415px;background:#fff;margin-left:14px;float:left;}
.f11-bottom2 .f11-bottom6{color:#FF6700;font-size:14px;}
/*12*/
.f12-bottom{width:1226px;height:420px;margin:0 auto;background:#f5f5f5}
.f12-bottom-wai1{width:296px;height:420px;background:#fff;float:left;border-top:1px solid #ffac13;position: relative;}
.title1{font-size:16px;font-weight:400;text-align:center;color:#FFAC13;margin-top:41px;}

/*点击外边的盒子*/
.f12-dabig{width:296px;height:308px;background:#fff;text-align:center;display:block;overflow: hidden;}
.f12-ul{width: 2000px;height: 308px;float: left;}
.f12-bottom-nei{width:296px;height:308px;background:#fff;text-align:center;display:block;float: left;}
.f12-bottom-nei1{font-size:20px;font-weight:400;display:block;color:#333;}
.f12-bottom-nei2{font-size:12px;line-height:20px;color:#b0b0b0;display:block;width:192px;margin:0 auto;margin-top:5px;margin-bottom:20px;}
.f12-bottom-nei3{font-size:13px;color:#333;display:block;}
.f12-bottom-nei img{display:block;margin:17px auto}
/*xiao yuan dian*/
.f12-btn{width:125px;height:10px;position: absolute;left: 50%;bottom: 20px;margin-left: -62px;}
.f12-btn .f12-btn1{width:6px;height:6px;border:2px solid #ff7500;border-radius:50%;float:left;background:rgba(255,255, 255,0.4)}
.f12-btn li{width:6px;height:6px;border-radius:50%;float:left;margin-left:21px;background:#ccc;border:2px solid #fff;}
.f12-btn li:hover{background:#ff7500}

/*12左右按钮*/
.f12-bigbtn{width: 100%;height: 48px;position: absolute;top: 50%;margin-top: -24px;font-size: 22px;text-align: center;font-family: "simsun";}
.f12-left{width:20px;height: 100%;;color: #fff;line-height:48px;float: left;cursor: pointer;}
.f12-right{width:20px;height: 100%;color: #fff;line-height:48px;float:right;cursor: pointer;}
.f12-bottom-wai1:hover .f12-left{background: #ccc}
.f12-bottom-wai1:hover .f12-right{background: #ccc}

/*f12 二部分*/
.f12-bottom-wai2{width:296px;height:420px;background:#fff;margin-left:14px;float:left;border-top:1px solid #a7c44e;position: relative;}
.title2{font-size:16px;font-weight:400;text-align:center;color:#a7c44e;margin-top:51px;}
.f12-bottom-wai2:hover .f12-left{background: #ccc}
.f12-bottom-wai2:hover .f12-right{background: #ccc}
/*f12 3部分*/
.f12-bottom-wai3{width:296px;height:420px;background:#fff;margin-left:14px;float:left;border-top:1px solid #e53935;position: relative;}
.title3{font-size:16px;font-weight:400;text-align:center;color:#e53935;margin-top:51px;}

.f12-bottom-wai3:hover .f12-left{background: #ccc}
.f12-bottom-wai3:hover .f12-right{background: #ccc}
/*f12 4部分*/
.f12-bottom-wai4{width:296px;height:420px;background:#fff;margin-left:14px;float:left;border-top:1px solid #2196f3;position: relative;}
.title4{font-size:16px;font-weight:400;text-align:center;color:#2196f3;margin-top:51px;}

.f12-bottom-wai4:hover .f12-left{background: #ccc}
.f12-bottom-wai4:hover .f12-right{background: #ccc}
/*13 onebufen*/
.f13-bottom{width:1226px;height:285px;background:#f5f5f5;margin:0 auto;}
.f13-bottom1{width:296px;height:285px;background:#fff;float:left;text-align:center;}
.f13-bottom    .f13-bottom-2015{font-size:14px;font-weight:400;color:#333;display:block;margin:20px 0 10px;}
.f13-bottom span{font-size:12px;color:#B0B0B0;}
.f13-bottom a:hover{color:#FF6700}
/*13 2bufen*/
.f13-bottom2{width:296px;height:285px;background:#fff;float:left;margin-left:14px;text-align:center;}

/*14*/
.f14{height:272px;width:100%;background:#fff}
.f14-nei{width:1226px;height:272px;margin:0 auto;background:red}
.f14-nei1{width:1226px;height:26px;background:#fff;padding:27px 0px;border-bottom:1px solid #E0E0E0;}
.f14-nei1a{width:242px;height:25px;background:#fff;float:left;border-right:1px solid #e0e0e0;text-align:center;}
.f14-nei1a-1{width:244px;height:25px;background:#fff;float:left;text-align:center;}
.f14-nei1a-1 a{font-size:16px;line-height:25px;color:#616161}
.f14-nei1a a{font-size:16px;line-height:25px;color:#616161}
.f14-nei1a a:hover{color:#ff6700}
.f14-nei1a-1 a:hover{color:#ff6700}
.f14-nei2{width:1226px;height:112px;background:#fff;padding:40px 0;}
.f14-nei2b{width:160px;height:112px;background:#fff;float:left;}
.f14-nei2b span{font-size:14px;color: #424242;display:block;margin-bottom:23px;}
.f14-nei2b a{font-size:12px;color: #757575;display:block;margin-top:10px;}
.f14-nei2b a:hover{color:#ff7500}
.f14-nei2-right{width:251px;height:112px;background:#fff;float:right;border-left: 1px solid #E0E0E0;text-align: center;color: #616161;}
.f14-nei2-right1{margin: 0px 0px 5px;font-size:22px;color: #FF6700;display:block}
.f14-nei2-right2{font-size:12px;color:#616161;display:block}
.f14-nei2-right3{font-size:12px;color:#616161;display:block}
.f14-nei2-right4{width:118px;height:28px;font-size:12px;line-height:28px;display:block;border:1px solid #ff7500;color:#ff7500;margin:0 auto;margin-top:12px;}
.f14-nei2-right4:hover{color:#FFF;background-color:#F25807;border-color:#F25807;}
/*15*/
.f15{width:100%;height:36px;background:#fff;padding:29px 0;margin-bottom:20px;}
.f15-nei{width:1226px;height:36px;margin:0 auto;background:#fff}
.f15 a:hover{color:#ff7500;}
.f15-xiaomi{height:36px;float:left;margin-right:10px;}
.f15-nei1{height:18px;width:807px;float:left;background:#fff;} 
.f15-nei1 a{font-size:12px;color:#757575;line-height:18px;} 
.f15-nei1 span{color:#e0e0e0;line-height:18px;font-size:12px;}
.f15nei2 a{font-size:12px;color:#b0b0b0}
.f15nei2 span{font-size:12px;color:#b0b0b0}
.f15nei2{width:888px;height:18px;background:#fff;float:left}
.f15-tu{height:36px;line-height:36px;}
.f15-tu img{margin-left:7px;}